<h1>Hello HookLineAndSinker!</h1>

<h2>Dashboard</h2>

<h3>Total Emails Sent</h3>
<%= @sent_emails_count %>

<h3>Total Emails Opened</h3>
<%= @opened_emails_count %>

<h3>Total Emails Clicked</h3>
<%= @clicked_emails_count %>
